asgiref==3.8.1
attrs==24.2.0
black==24.10.0
cfgv==3.4.0
click==8.1.7
distlib==0.3.9
dj-database-url==2.2.0
django==4.2.16
django-cors-headers==4.5.0
django-extensions==3.2.3
djangorestframework==3.15.2
drf-spectacular==0.28.0
filelock==3.16.1
identify==2.6.1
inflection==0.5.1
isort==5.13.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mypy-extensions==1.0.0
nodeenv==1.9.1
pathspec==0.12.1
platformdirs==4.3.6
pre-commit==4.0.1
psycopg2==2.9.10
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
referencing==0.35.1
rpds-py==0.22.3
six==1.17.0
sqlparse==0.5.1
toml==0.10.2
tomli==2.0.2
typing-extensions==4.12.2
uritemplate==4.1.1
virtualenv==20.27.0
