
                <header>
                  <h3>Comments (<span id="comments-count"><%= commentsCount %></span>)</h3>
                </header>
                <div id="leave-a-comment">
                  <% if (req.user) { %>
                      <br>
                      Hi <%= req.user.local.username %>,<br>
                      if you want you can leave a comment
                      <br><br>
                      <div id="comment-form-container">
                        <div class="close-reply text-center">
                          <span>Abort Reply</span>
                          <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <!-- Some kind of control for permalink format? -->
                        <form id="comment-form" class="text-center" method="post">
                          <textarea id="comment-text" name="comment-text" class="form-control" placeholder="Insert your message here" required=""></textarea>
                          <input id="parent-id" name="parent-comment" type="text" hidden value="">
                          <br>
                          <input id="submitCommentBtn" type="submit" value="Send" class="btn btn-warning btn-lg text-right">
                        </form>
                      </div>
                      <br>
                  <% } else { %>
                      <br>
                      You have to be logged in to leave a comment
                      <br><br>
                  <% } %>
                </div>
                <hr>
                <div id="comments-list">
                  <div id="comments-loading" class="text-center">
                    <img src="/images/icons/gb-loading.gif" />
                    <br>
                    <span class="loading-text">Loading comments...</span>
                  </div>
                </div>

                <!-- Delete comment modal -->
                <div class="modal fade" id="delete-comment-modal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteCommentModalLabel">Delete comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center">
                        Are you sure you wanna delete this comment?
                        <br>
                        <span id="comment-to-delete-text"></span>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismissDeleteModal">Nope</button>
                        <button type="button" class="btn btn-danger" id="deleteCommentBtn">Delete Comment</button>
                      </div>
                    </div>
                  </div>
                </div>
