<!doctype html>
<html>
<head>
    <title>Homebrew Hub</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
     <div class="flex-row">
<div class="texta container col-lg-9">
<br>
<h1>Credits</h1>
<p class="lead">The development of this project is currently lead by <a href="https://avivace.com">Antonio Vivace</a>. This site is possible thanks to a number of open source projects and the Game Boy Development community. Here follows the complete list of who made a contribution or helped in any way to make this possible.</p>

<h3> Special Thanks and acknowledgements </h3>
Everyone on the Game Boy Development Discord chat who helped providing bug reports, feedback and ideas on the project. <br>
<a href="https://github.com/dmg01/homebrewhub/graphs/contributors">Everyone</a> who contributed directly on the codebase: <a href="https://github.com/dennib"> Denni Belilacqua</a>, <a href="https://github.com/avivace">Antonio Vivace</a>;<br>
Users on the Homebrew Hub Slack team providing feedback, ideas and implementation ideas: anodium, barz;<br>
<a href="http://donaldhays.com/">Donald Hays</a> for the GB JS emulator configuration code.

<br><br>
<h3> Third Party Software </h3>
<h5>Bootstrap</h5>
<pre><code>
The MIT License (MIT)

Copyright (c) 2011-2016 Twitter, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</code></pre>

<h5>Game Boy Emulator</h5>
<code><pre>
This site uses Grant Galitz’s Game Boy emulator. This section acknowledges 
that emulator’s copyright and open source license. Note that this copyright
notice and license text are for the emulator, not the games.

Copyright (C) 2010 - 2016 Grant Galitz

A GameBoy Color emulator that utilizes HTML5 canvas and JavaScript 
audio APIs to provide a full emulation of the console.

License:

Permission is hereby granted, free of charge, to any person obtaining a 
copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation
the rights to use, copy, modify, merge, publish, distribute, sublicense,
and/or sell copies of the Software, and to permit persons to whom the 
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in 
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
SOFTWARE.
</pre></code>

</div>
</div>
<% include footer.html %> 
</body>
</html>