<!doctype html>
<html>
<head>
    <title>Homebrew Hub</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
     <div class="flex-row">
<div class="texta container col-lg-9">
<br>
<h1>Credits</h1>
<p class="lead">Leading text</p>

<h2> Paragraph </h2>
<h5>Game Boy Emulator</h5>
<p>
This site uses Grant Galitz’s Game Boy emulator. This section acknowledges that emulator’s copyright and open source license. Note that this copyright notice and license text are for the emulator, not the games.</p>
<p>
Copyright (C) 2010 - 2016 Grant Galitz</p>
<p>
A GameBoy Color emulator that utilizes HTML5 canvas and JavaScript audio APIs to provide a full emulation of the console.
</p><p>
License:
</p><p>
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
<br>
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
<br>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>

</div>
</div>
<% include footer.html %> 
</body>
</html>