<!doctype html>
<html>
<head>
	 <title>Homebrew Hub</title>
	 <% include head.html %>   
</head>
<body>
	  <% include header.ejs %>
	  <div class="flex-row">
<div class="texta container col-lg-9">
<br>
<h1>Credits</h1>
<p class="lead">The development of this project is currently lead by <a href="https://avivace.com">Antonio Vivace</a>. This site is possible thanks to a number of open source projects and the Game Boy Development community. Here follows the complete list of who made a contribution or helped in any way to make this possible.</p>

<h3> Special Thanks and acknowledgements </h3>
<ul>
<li>Everyone on the Game Boy Development <a href="https://discord.gg/gpBxq85">Discord Chat</a> who helped providing bug reports, feedback and ideas on the project.<br>
<li><a href="https://github.com/anodium">Andrea Pascal</a>, <a href="https://github.com/barzamin">barz</a>, <a href="http://donaldhays.com/">Donald Hays</a>  (GB JS emulator configuration code), <a href="https://github.com/tobiasvl">Tobias V. Langhoff </a>, beware.<br>
<li><a href="https://github.com/dmg01/homebrewhub/graphs/contributors">Everyone</a> who contributed directly on the codebase: <a href="https://github.com/dennib"> Denni Bevilacqua</a>, <a href="https://github.com/avivace">Antonio Vivace</a>;<br>
<li><a href="https://github.com/dmg01/database/graphs/contributors">Contributors</a> of the Database.
<br>
</ul>

<h3>License</h3>
Each entry (binaries, sources and assets) presented here is released under different license terms and copyright holders, refer to their detailed page.
<br>
<a href="https://github.com/dmg01/homebrewhub">Homebrew Hub</a> and its <a href="https://github.com/dmg01/database">database</a> are open source, community lead projects released under the terms of the GNU GPLv3 <a href="https://github.com/dmg01/homebrewhub/blob/master/LICENSE">license</a>.

<br><br>
<h3> Third Party Software </h3>
<ul>
<li><a href=""> GameBoy-Online </a>
<li><a href="https://nodejs.org/en/">  Node.js </a>
<li><a href=""> Express </a> 
<li><a href=""> MongoDB </a>
<li><a href=""> Mongoose </a>
<li><a href=""> Bootstrap </a>
<li><a href=""> JQuery </a>
</ul>
</div>
</div>
<% include footer.html %> 
</body>
</html>