<!doctype html>
<html>
<head>
    <title>Homebrew Hub</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
     <div class="flex-row">
<div class="texta container col-lg-9">
<br>
<h1>Homebrew Hub Public API</h1>
<div class="alert alert-warning" role="alert">
  This feature is experimental, subject to change in any moment and not guaranteed to stay online! We're still working on it, don't expect to stay stable.
</div>
<p>
Version 0.1<br>
Base URL: <code>https://gbhh.avivace.com</code><br>
<h4>Methods:</h4>
GET <code>/discord</code> <br>
Online users of the Discord Server <br>
Example response payload:
<pre>
{"count":188}
</pre>


GET <code>/info</code> <br>
General info on the Homebrew Hub database, such as total game count<br>
Example response payload:
<pre>
{"games":488}
</pre>

GET <code>/games</code> <br>
General info on the Homebrew Hub database, such as total game count <br>
Example response payload:
<pre>
{"games":488}
</pre>


</p>


</div>
</div>
<% include footer.html %> 
</body>
</html>
