<!doctype html>
<html>
<head>
    <title>Homebrew Hub</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
     <div class="flex-row">
<div class="texta container col-lg-9">
<br>
<h1>API</h1>

<p> Things </p>


</div>
</div>
<% include footer.html %> 
</body>
</html>
