<!doctype html>
<html>
<head>
    <title>Homebrew Hub</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
     <div class="flex-row">
<div class="texta container col-lg-9">
<br>
<h1>Disclaimer</h1>

<p> All the ROMs, playable games, homebrew and tools at Homebrew Hub are free software, published under different licenses. <br>
Homebrew Hub does NOT, to the knowledge of its staff, contain any commercially copyrighted material which does not meet ‘fair-use’ legal terms, including, but not limited to, commercial ROMS. It is not the intention of this site to promote piracy or to steal revenue from companies that produce games. Should there be an oversight, and unauthorized material is uploaded to our server, contact the webmaster with detailed information and the item will be removed as soon as possible. All trademarks are respective of their specific owners. </p>


</div>
</div>
<% include footer.html %> 
</body>
</html>
