<footer class="bd-footer text-muted">
  <div class="container" style="display: block;">
    <ul class="bd-footer-links list-inline " style="display: block; list-style-type: disc;">
      <li class="list-inline-item"><a class="footer-item" href="https://github.com/dmg01/homebrewhub">GitHub</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="https://discord.gg/gpBxq85">Discord</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="https://github.com/avivace/awesome-gbdev">Game Boy Development Resources</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="/disclaimer">Disclaimer</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="/credits">Credits</a></li>
    </ul>
    <p>Designed and built by <a href="https://avivace.com" target="_blank">Antonio Vivace</a> and <a href="https://github.com/dmg01/homebrewhub" target="_blank">contributors</a>. &copy; 2017 - All rights reserved.</p>
  </div>
</footer>