<!doctype html>
<html>
  <head>
    <title>Showcase</title>
    <% include head.html %>
    <style>
    #mainCanvas {
  width: 320px;
  height: 288px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(24, 53, 66, 0.5);
  box-shadow: 0px 2px 7px rgba(24, 53, 66, 0.5);
  border-radius: 4px;
}

#gamepadCanvas {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(24, 53, 66, 0.5);
  box-shadow: 0px 2px 7px rgba(24, 53, 66, 0.5);
  border-radius: 4px;
}
  </style>
    <script src="http://donaldhays.com/projects/gbjs/player.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/other/base64.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/other/json2.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/other/swfobject.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/other/resampler.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/other/XAudioServer.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/other/resize.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/GameBoyCore.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/GameBoyIO.js"></script>

    <script src="http://donaldhays.com/projects/gbjs/gamepad.js"></script>

    <script type="text/javascript">
    var gamepad = null;
    var DEBUG_MESSAGES = false;
    var DEBUG_WINDOWING = false;
    window.onload = function () {
        mainCanvas = document.getElementById("mainCanvas");
        
        var request = new XMLHttpRequest();
    request.open("GET", "/<%= game[0].data.files[0].data.fslocation %>", true);
    request.responseType = "blob";
    
    request.onload = function(event) {
      startGame(new Blob([this.response], { type: "text/plain" }));
    };
        
    if(("ontouchstart" in document.documentElement) == true) {
      document.getElementById("controls-instructions-container").style.display = "none";
    }
        
        gamepad = new GamePad(document.getElementById("gamepadCanvas"));
        gamepad.supportsDiagonal = false;
    
    request.send(null);
    }
</script>

  </head>
  <body>
    <% include header.ejs %>
    <div class="container">
      <br>
      <div class="row ">

        <h1> <%= game[0].data.title %></h1>
        
        <img src=<%= "/" +game[0].data.screenshots[0].data.fslocation %> >
      </div>
      <div class="row">
        <div class="box">
    <h4>Play Online</h4>
    <canvas id="mainCanvas"></canvas>
    <canvas id="gamepadCanvas" width="320" height="128"></canvas>
    <div id="controls-instructions-container">
    <h2>Controls</h2>
    <p>Return = Start<br>
    Arrow Keys = Up, Down, Left, Right</p>
    </div>
</div>
        
        <!--
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </body>
</html>