<div class="col-lg-10 col-md-12 container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Homebrew Hub</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item <% if (req.active == '') { %> active <% } %>">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item <% if (req.active == 'games') { %> active <% } %>">
					<a class="nav-link" href="/games">Games</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Tags
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/games/opensource">Open Source</a>
						<a class="dropdown-item" href="/games/rpg">RPG</a>
						<a class="dropdown-item" href="/games/arcade">Arcade</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/dmg01/database" target="_blank">Submit game</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<i class="fa fa-search" aria-hidden="true"></i>
				&nbsp;
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
			</a>
		</form>
		<% if (req.user) { %>
		<span class="navbar-text">
			
			&nbsp;
			<a> <%= req.user.local.username %></a> - <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>
		</a>
	</span>
	<% } else { %>
	<span class="navbar-text">
		&nbsp;
		<a href="/login"> Log In </a>
	</span>
	<ul class="navbar-nav left">
&nbsp;&nbsp;
	<li class="nav-item <% if (req.active == '') { %> active <% } %>">
		<a href="/signup" > <button class="btn btn-primary" type="button">Sign Up</button> </a>
	</li>
	</ul>
	<% } %>

</div>
</nav>
</div>