<!doctype html>
<html>
<head>
    <title>Showcase</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
	<h1> Homebrew Hub </h1>
    <h2> <a href="/login"> Login </a> </h2>
    <h2> <a href="/signup"> Signup </a> </h2>	
	<h2> <a href="/logout"> Logout </a> </h2>
	<h2> <a href="/profile"> Profile </a> </h2>
    <h2> <a href="/upload"> Upload </a> </h2>
    <h2> <a href="/forgotPassword"> Account Recovery </a> </h2>
</div>
</div>
</body>
</html>