<!doctype html>
<html>
  <head>
    <title>Showcase</title>
    <% include head.html %>
  </head>
  <body>
    <% include header.ejs %>
    <div class="container">
      <br>
      <div class="container">
        <div class="card-columns">
        <% games.forEach( function(element){ %>
        <div class="card">
                      <img class="card-img-top img-fluid" src=/<%= element.data.screenshots[0].data.fslocation %> alt="Card image cap">

          <div class="card-body">
            <a href=<%= "game/"+element.data.permalink %>><h3 class="card-title"> <%= element.data.title %> </a>

              <% if (element.data.typetag == "game") { %>
              <span style="float:right; font-size: 0.7em" class="fa fa-gamepad"></span></h3>
              <% } else if (element.data.typetag == "demo") { %>
              <span style="float:right; font-size: 0.7em" class="fa fa-cubes"></span></h3>
              <% } else { %>
              <span style="float:right; font-size: 0.7em" class="fa fa-microchip"></span></h3>
              <% } %>
                <p class="card-text">
                  <small class="text-muted"></small>
                  <% element.data.tags.forEach( function(tag) { %>
                  <span class="badge badge-secondary"><%= tag %></span>
                  <% }) %>
                </p>

          </div>
        </div>

        
        <% }) %>

        </div>
      </div>
      </div>
    </div>
    <% include footer.html %> 

  </body>
</html>