<!doctype html>
<html>
<head>
    <title>Homebrew Hub</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
<div class="flex-row">
<div class="texta container col-md-11 col-lg-9">
    <br>

    <% if (message.length > 0) { %>
        <% if (type == 1) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } else { %>
        <div class="alert alert-success fade in"><%= message %></div>
        <% } %>
    <% } %>
<h1>Oh hey, welcome!</h1>
<p class="lead">This project aims to collect, archive and save every unofficial game, homebrew, patch, hackrom for Game Boy (Color) produced by the community through years of passionate work.
</p><p class="lead">
You'll be able to <b>vote</b>, share and submit games, search for tags and <b>play</b> them directly here, in your browser.</p>

<h2> Support </h2>
<p>
You can help in a number of ways, we really appreciate:</p>
<p>
<b>Spread</b> the word with friends and on socials, share the <a href="https://gbhh.avivace.com/"> link</a> to this site.</p>
<p> <b>Report bugs and send feedback</b>: send an email to <code>admin (at) avivace.com</code>, connect with us on Discord or fill an Issue on the GitHub repo.</p>

<p> <b>Write code</b>: the entire development of the project is done on <a href="https://github.com/dmg01/homebrewhub">GitHub</a> and everyone can contribute! Code licensed GPLv3. </p>

<p> <b> Donate</b>: Hosting and bandwidth isn't free - and we won't add flashing banners - if you like the project, please considering <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6H2NAG2PPS4VQ"> donating</a>. </p>

<p><b> Submit games and help testing</b>: currently, only approved contributors can add or edit entries, <a href="https://discord.gg/gpBxq85">get in touch </a> (<code>#homebrew-hub-project</code>) to help us with the submissions. </p>

</div>
</div>
<% include footer.html %> 
</body>
</html>