<!doctype html>
<html>
<head>
    <title>Showcase</title>
    <% include head.html %>   
</head>
<body>
     <% include header.ejs %>
<div class="container col-sm-8 col-md-10 col-lg-6">
<br>
<h1> Oh hey, welcome! </h1>
This project aims to collect, archive and save every unofficial game, homebrew, patch, hackrom for Game Boy (Color) produced by the community through years of passionate work.
<br>
You'll be able to vote, share and submit games, search for tags and play them directly here, in your browser.

<br> <br>
<h2> Support </h2>
You can help in a number of ways, we really appreciate:
<br>
<b>Spread</b> the word with friends and on socials, share the <a href="https://gbhh.avivace.com/"> link</a> to this site.
<br>
<b> Write code</b>: the entire development of the project is done on <a href="https://github.com/dmg01/homebrewhub">GitHub</a> and everyone can contribute! Code licensed GPLv3.
<br>
<b> Donate</b>: Hosting and bandwidth isn't free - and we won't add flashing banners - if you like the project, please considering <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6H2NAG2PPS4VQ"> donating</a>.
<br>
<b> Submit games and help testing</b>: currently, only approved contributors can add or edit entries, <a href="https://discord.gg/gpBxq85">get in touch </a> to help us with the submissions.

</div>
<footer class="bd-footer text-muted">
  <div class="container" style="display: block;">
    <ul class="bd-footer-links list-inline " style="display: block; list-style-type: disc;">
      <li class="list-inline-item"><a class="footer-item" href="https://github.com/dmg01/homebrewhub">GitHub</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="https://discord.gg/gpBxq85">Discord</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="https://github.com/avivace/awesome-gbdev">Game Boy Development Resources</a></li>-
      <li class="list-inline-item"><a class="footer-item" href="/disclaimer">Disclaimer</a></li>
    </ul>
    <p>Designed and built by <a href="https://avivace.com" target="_blank">Antonio Vivace</a> and <a href="https://github.com/dmg01/homebrewhub" target="_blank">contributors</a>. &copy; 2017, all rights reserved.</p>
  </div>
</footer>
</body>
</html>