<!doctype html>
<html>
	<head>
		<title>Homebrew Hub</title>
		<% include head.html %>
		<script src="include/countUp.js"></script>
		<script>
			window.onload = function() {
				var options = {
				useEasing: true,
				useGrouping: true,
				separator: ',',
				decimal: '.',
				};
				var demo = new CountUp('dbCount', 0, <%= gamecount %>, 0, 2.5, options);
				if (!demo.error) {
				demo.start();
				} else {
				console.error(demo.error);
				}
			}
		</script>

		
	</head>
	<body>
		<% include header.ejs %>
		<div class="flex-row">
			<div class="texta container col-md-11 col-lg-10">
				<br>
				<% if (message.length > 0) { %>
				<% if (type == 1) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } else { %>
				<div class="alert alert-success fade in"><%= message %></div>
				<% } %>
				<% } %>
				<div class="container">
					<div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
						<h1 class="intro text-center">Homebrew Hub</h1>

						<p class="leadL">A community-led attempt to collect, archive and preserve every unofficial game and homebrew released for Game Boy produced through decades of passionate work.

						</p>
					</div></div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
						<p class="text-center"><img src="gb_asset.png" class="img-fluid" alt="Responsive image"></p>


						</div>
					</div>
					<div class="row"><div class="col-sm-12 col-md-12 col-lg-12"><p class="small text-center">&copy; 1993 Nintendo. American patent illustration.</p>
					<center>
							<a href="https://github.com/gbdev" target="_blank"> <img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /></a>&nbsp;<a href="https://instagram.com/gbdev0" target="_blank"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/instagram.svg" /></a>&nbsp;<a href="https://twitter.com/gbdev0" target="_blank"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /></a>&nbsp;<a href="https://gbdev.io/chat" target="_blank"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/discord.svg" /></a></center></div></div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12"><br>
							<p class="">
							You'll be able to share and submit games, search for specific tags and <b>play</b> them directly here, in your browser. A lot of them are open source, too!</p>
              <p class=""> Since 2017, we collected <b id='dbCount'></b> homebrews. <!-- and <b><%= usercount %></b> registered users.-->
How about helping us building the database? <a href="https://github.com/dmg01/database">Contribute</a> adding entries or improving the existing ones.
							<div class="row">
							</div>
							<h2> Wait, really? </h2>
							Yeah. <b>Really</b>. This is an active <a href="https://gbdev.io">scene</a>. <br>A lot of unofficial and homebrew software and hardware has and it's been produced for the original <i>gray brick</i>. People are still documenting and studying every part of its architecture: there's a whole community of hackers creating emulators and games for this 30 years old hardware. Want to take a look at the Game Boy hardware and software architecture and see if you can get your hands dirty? We got you covered: here's some awesome <a href="https://gbdev.github.io/list.html">Game Boy development resources</a>. We also have a dedicated <a href="https://gbdev.io/chat">Discord server</a>.
							<br><br>
							<h2> Contributing </h2>
							<p>
							You can help in a number of ways:</p>
							<p><b>Spread</b> the word with friends about Homebrew Hub and other awesome Game Boy development projects.</p>
								
								<p> <b>Report bugs, test and send feedback</b>: email us  <code>hhub (at) gbdev.io</code>, connect with us on <a href="https://gbdev.io/chat.html">Discord</a> or open <a href="https://github.com/gbdev/homebrewhub/issues">issue</a>.</p>
								<p> <b>Write code</b>: the entire development of the project is done on <a href="https://github.com/dmg01/homebrewhub">GitHub</a> and everyone can contribute! Code licensed GPLv3. </p>
								<p> <b> Donate</b>: you can help with an economic donation joining our Patreon, OpenCollective or becoming a GitHub sponsor. </p>
								<p><b> Submit entries:</b> Everyone can help building the database of available homebrews and games! Take a look at this <a href="https://github.com/dmg01/database">repository</a> and send a Pull Request. </p></div>
							</div>
						</div>
					</div>
				</div>
				<% include footer.html %>
			</body>
		</html>
