<!doctype html>
<html>
	<head>
		<title>Homebrew Hub</title>
		<% include head.html %>
		<script src="include/countUp.js"></script>
		<script>
			window.onload = function() {
				var options = {
				useEasing: true,
				useGrouping: true,
				separator: ',',
				decimal: '.',
				};
				var demo = new CountUp('dbCount', 0, <%= gamecount %>, 0, 2.5, options);
				if (!demo.error) {
				demo.start();
				} else {
				console.error(demo.error);
				}
			}
		</script>

		
	</head>
	<body>
		<% include header.ejs %>
		<div class="flex-row">
			<div class="texta container col-md-11 col-lg-10">
				<br>
				<% if (message.length > 0) { %>
				<% if (type == 1) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } else { %>
				<div class="alert alert-success fade in"><%= message %></div>
				<% } %>
				<% } %>
				<div class="container">
					<div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
						<h1 class="intro text-center">Homebrew Hub</h1>

						<p class="leadL">A community-led attempt to collect, archive and save every unofficial game, homebrew, patch, hackrom for Game Boy produced by the community through decades of passionate work.

						</p>
					</div></div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
						<p class="text-center"><img src="gb_asset.png" class="img-fluid" alt="Responsive image"></p>


						</div>
					</div>
					<div class="row"><div class="col-sm-12 col-md-12 col-lg-12"><p class="small text-center">&copy; 1993 Nintendo. American patent illustration.</p>
					<center>
							<a href="https://github.com/gbdev" target="_blank"> <img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /></a>&nbsp;<a href="https://instagram.com/gb_things" target="_blank"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/instagram.svg" /></a>&nbsp;<a href="https://twitter.com/gb_things" target="_blank"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /></a>&nbsp;<a href="https://discordapp.com/invite/gpBxq85" target="_blank"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/discord.svg" /></a></center></div></div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12"><br>
							<p class="">
							You'll be able to vote, share and submit games, search for tags and <b>play</b> them directly here, in your browser.</p>
              <p class=""> We currently have <b id='dbCount'></b> entries. <!-- and <b><%= usercount %></b> registered users.-->
How about helping us building the database? <a href="https://github.com/dmg01/database">Contribute</a> adding entries or improving the existing ones.
							<div class="row">
							</div>
							<h2> Wait, really? </h2>
							Yeah. <b>Really</b>. This is an active scene. <a href="https://github.com/search?o=desc&q=game+boy&s=updated&type=Repositories&utf8=%E2%9C%93">Take a look at the recently updated game boy repositories on GitHub</a>. <br>A lot of unofficial and homebrew software and hardware has and it's been produced for the original <i>gray brick</i>. People are still documenting and studying every part of its architecture: there's a whole community of hackers creating emulators and games for this 30 years old hardware. Want to take a look at the Game Boy hardware and software architecture and see if you can get your hands dirty? We got you covered: here's some awesome <a href="https://gbdev.github.io/list.html">Game Boy development resources</a>. We also have a dedicated <a href="https://discord.gg/XFFHb6b">Discord server</a>.
							<br><br>
							<h2> Support </h2>
							<p>
							You can help in a number of ways:</p>
							<p><b>Spread</b> the word with friends.</p>
								
								<p> <b>Report bugs, test and send feedback</b>: send an email to <code>admin (at) avivace.com</code>, connect with us on Discord or fill an Issue on the GitHub repo.</p>
								<p> <b>Write code</b>: the entire development of the project is done on <a href="https://github.com/dmg01/homebrewhub">GitHub</a> and everyone can contribute! Code licensed GPLv3. </p>
								<p> <b> Donate</b>: Hosting and bandwidth isn't free - and we won't add flashing banners - if you like the project, please considering <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6H2NAG2PPS4VQ"> donating</a>. </p>
								<p><b> Submit entries:</b> Everyone can help building the database of available homebrews and games! Take a look at this <a href="https://github.com/dmg01/database">repository</a> and send a Pull Request. </p></div>
							</div>
						</div>
					</div>
				</div>
				<% include footer.html %>
			</body>
		</html>
