<% if (user.local.email) { %>
logged in
<p>
    <strong>id</strong>: <%= user._id %><br>
    <strong>email</strong>: <%= user.local.email %><br>
    <strong>test</strong>: <%= user.data.test %><br>
    <strong>password</strong>: <%= user.local.password %>
</p>

<a href="/unlink/local" class="btn btn-default">Unlink</a>
<% } else { %>
not logged in
<% } %>