<!doctype html>
<html>
<head>
    <title>HHub - Sign Up</title>
    <% include head.html %>  
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="alert alert-warning">Account registration is currently useless, as we are implementing social features such as voting and commenting. However, we may close signups at some point during the beta, so get an account while you can! </div>
    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <b>Policy</b> Your email address is used only to allow the password recovery and to notify you about important updates and major features launches (no more than one monthly and you can unsubscribe).
        We don't disclose any information about your account activity here and we don't save any other details other than the ones in this form.
        <br><br>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
